h1 {
    font-size: 30px; 
    font-family: serif; 
    text-align: center;
  }
h2 {
    font-size: 20px; 
    font-family: Georgia; 
    text-align: center;
    color: blue;
}
h3 {
    font-size: 20px; 
    font-family: sans-serif; 
    text-align: center;
    color: blueviolet;
  }
  
  p {
    line-height: 1.8;
  }

  img {
    border: 5px solid pink; /* Choose your desired border color */
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
  }
  
  nav{
    border: 5px solid purple;
    font-family: sans-serif; 
  }

  li{
    display: inline;
  }

  a{
    text-align: underline;
    border: solid blue;
    background-color: pink;
    padding: 5px;
    margin: 20px;
  }

  .thumbnail{
    border: 5px solid navy;
    padding: 20px;
    margin: auto;
    width: 250px;
    display: block;
  }